h1
   span {{TC.greet}}
   .glyphicon.glyphicon-thumbs-up

p {{TC.dateTime.date}} {{TC.dateTime.time}}

button.btn.btn-default(
   ng-click='TC.save()'
   ng-class="{'btn-success': TC.dateTime.$resolved}"
) POST

button.btn.btn-default(
   ng-click='TC.save2()'
   ng-class="{'btn-success': TC.dateTime.$resolved}"
) POST2
