h1
   span {{MC.greet}}
   .glyphicon.glyphicon-thumbs-up

p {{MC.dateTime.date}} {{MC.dateTime.time}}

button.btn.btn-default(
   ng-click='MC.save()'
   ng-class="{'btn-success': MC.dateTime.$resolved}"
) POST

button.btn.btn-default(
   ng-click='MC.save2()'
   ng-class="{'btn-success': MC.dateTime.$resolved}"
) POST2
